<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>MI APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    
    <ion-item 
      routerLink="/otra-pagina" 
      routerDirection="forward"
      button 
      detail="true"
    >
      <ion-card-title name="body-outline" slot="start"></ion-card-title>
      <ion-label>Otra Pagina</ion-label>
      
      
    </ion-item>
     <ion-item 
      routerLink="/personajes" 
      routerDirection="forward"
      button 
      detail="true"
    >
      <ion-card-title name="personajes" slot="start"></ion-card-title>
      <ion-label>personajes</ion-label>

    </ion-item>
     <ion-item 
      routerLink="/eliminados" 
      routerDirection="forward"
      button 
      detail="true"
    >
      <ion-card-title name="eliminados" slot="start"></ion-card-title>
      <ion-label>eliminados</ion-label>

    </ion-item>
  
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">Clases del Profe trujillo</ion-title>
  </ion-toolbar>
</ion-footer>